@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}


@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; 
    color-scheme: light; 
    --color-primary:#403F3F;
    --color-secondary:#D72050;
    --color-base-200:#403F3F;
    --color-base-300:#9F9F9F;
    --color-accent: #706F6F;
 
  }